* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0%;
    background-color: white;
    height: 70px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    margin-left: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.navbar-logo span {
    color: #166AC5;
}

.navbar-options {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}
.navbar-options .link{
    text-decoration: none;
    color: black;
}

.avatar{
    cursor: pointer;
}
.navbar-options li {
    list-style: none;
}

.navbar-content {
    display: flex;
    align-items: center;
    margin-right: 40px;
    width: 28vw;

    justify-content: space-between;
}
.navbar-buttons{
    display: flex;
}

.navbar-buttons Button {
    margin-right: 5px;
    cursor: pointer;
}

.avatar-one{
    display: flex;  
    align-items: center;
    padding: 0%;
   
}

.avatar-one div{
    margin-right: 3px;
}
.avatar-one p{
    font-size: 12px;
}
.avatar-padding{
    padding: 2px 0px;
}
.avatar-two{
    margin-left: 14px;
    text-align: center;
    font-size: 13px;
    font-weight:400;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

