.signup{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 100px;
}
.signupinside{
    width:400px;
    margin-top: 70px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.signup h1{
    padding: 19px 0px;
    color: #166AC5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.small-text-field .MuiInputBase-root {
    font-size: 15px;  /* Adjust font size here */
  }
.small-text-field .MuiFormLabel-root {
    font-size: 15px;  /* Adjust label font size here */
  }
  role-select-label

  .signup form div{
    margin-top: 10px;
    text-align: center;
  }
  
  .submitbutton{
    height: 30px;
    font-size: 10px;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  

  .drop{
    display: flex;  
    margin-left: 15px;
    align-items: baseline;
    margin-top: 20px;
  }

  #demo-simple-select-label{
    margin-right: 10px;
  }
  .line{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 27px;
  }

  #role-select-label{
    margin-right: 10px;
  }

  .css-1x51dt5-MuiInputBase-input-MuiInput-input{
    margin-top: 20px;
  }

  .imgdrop{
    margin-top: 20px;
  }
  .submitbtn{
    text-align: center;
    margin-top: 17px;
  }